.navbar {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  box-shadow: 0px 1px 2px rgb(5, 247, 5), 0px 2px 4px rgb(5, 247, 5),
    0px 4px 8px rgb(5, 247, 5), 0px 8px 16px rgb(5, 247, 5);
  background: black;
}
.navbar__container {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
  padding: 0px 20px;
  flex: 1;
}
.navbar__container__logo {
  background-color: black;
  cursor: pointer;
  box-shadow: 0px 1px 2px rgb(5, 247, 5), 0px 2px 4px rgba(0, 255, 255, 0.5),
    0px 4px 8px rgba(0, 255, 255, 0.5), 0px 8px 16px rgb(5, 247, 5);
  border-radius: 5px;
  color: rgb(5, 247, 5);
}
.navbar__container__menu {
  display: flex;
  list-style: none;
  text-align: center;
}
.navbar__container__menu__item {
  box-shadow: none;
  background: transparent;
  font-size: 20px;
  padding: 0;
  height: auto;
  float: none;
  border-radius: 5px;
}

.navbar__container__menu__item:hover {
  background-color: rgb(5, 247, 5);
  font-size: 2rem;
  padding: 1rem 2rem;
  line-height: 2rem;
  float: none;
  margin: 0;
  transition: all 0.15s ease-out;
  height: auto;
  border-radius: 100px;
  overflow: hidden;
  display: block;
  margin: 0px auto;
  font-weight: 600;
  perspective-origin: center;
  letter-spacing: 0;
}

.navbar__container__menu__item__links {
  text-decoration: none;
  color: rgb(24, 182, 24);
  padding: 1rem;
}

// for mobile view
.nav-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar__container__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .active {
    background: black;
    left: 0px;
    opacity: 1;
  }

  .navbar__container__menu__item {
    border-bottom: 1px solid rgb(5, 247, 5);
    padding-top: 20px;
    margin: 0;
  }

  .nav-icon {
    display: block;
    cursor: pointer;
    color: rgb(5, 247, 5);
    padding-right: 20px;
  }
}
